




.lista{
  display: flex;
  
  list-style: none;
 
}


.titulo-principal{
  display: inline-block;
}

.menu{
  display: flex;
    justify-content: space-evenly;
    background: #9c4e9c;
    align-items: center;
}
.items{
  padding: 10px;
    margin-right: 3rem;
    background-color: #734e77;
    border-radius: 3rem;
    color: white;

}

.img{width: 4rem;
    border-radius: 1.5rem;
  }

  .btn{
    padding: 10px;
    border-radius: 1rem;
}


.subtitulo{
  text-align: center;
  margin-top: 3rem;
}